.about {
    max-width: 2000px;
    margin: 0 auto;
}

.about_content {
    display: flex;
    gap: 25px;
}

.about_content img {
    max-width: 400px;
    width: 30%;
    object-fit: cover;
}

.about_description {
    font-weight: 400;
    text-align: justify;
    padding-right: 25px;
}
.about_description p {
    margin: 0;
    text-indent: 22px;
}

@media screen and (min-width: 901px) {
    .about_content {
        display: flex;
        gap: 65px;
    }
    .about_description {
        padding-bottom: 50px;
        padding-right: 75px;
    }
    .about_description p:not(:last-child) {
        margin-bottom: 10px;
    }
}
