body.has-expanded {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.header-wrapper {
    min-height: 50px;
    background-color: var(--color-bg-secondary);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.header_expand {
    display: none;
    cursor: pointer;
}

.nav {
    display: block;
}

ul.menu {
    display: flex;
    list-style: none;
    font-size: 0.75rem;
    padding-left: 0;
    margin: 0;
}

ul.menu li {
    padding: 24px 30px;
}

ul.menu li a {
    color: var(--color-font-secondary);
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

ul.menu li.active a {
    color: var(--color-decoration-main);
    border-bottom: 3px solid var(--color-decoration-main);
    padding-bottom: 7px;
}

@media screen and (min-width: 901px) {
    .header-wrapper {
        padding-right: 35px;
    }
}

@media screen and (max-width: 900px) {
    nav {
        flex-grow: 1;
    }
    ul.menu {
        width: 100%;
        justify-content: space-evenly;
    }
    ul.menu li {
        padding: 24px 0;
    }
}

@media screen and (max-width: 600px) {
    nav {
        display: none;
    }
    .header_expand {
        display: block;
    }

    header.expanded .header-overlay {
        position: fixed;
        width: 100vw;
        height: 100vh;
        background-color: var(--color-bg-secondary);
        filter: blur(4px);
        opacity: 0.3;
        z-index: 100;
    }

    header.expanded nav {
        position: fixed;
        display: block;
        right: 0;
        top: 0;
        min-height: 100vh;
        background-color: var(--color-bg-secondary);
        z-index: 110;
    }
    ul.menu {
        flex-direction: column;
    }

    ul.menu li {
        padding: 25px 12px 25px 35px;
        border-bottom: 1px solid var(--color-bg-main);
    }
}
